<%= render('form', :object => @comment) %>

<a href="/comments">Back to Index</a> |
  <a href="/comments/<%= @comment.id %>/edit">Edit</a> |
  <a href="/comments/<%= @comment.id %>" data-method="delete" data-confirm="Are you sure?">Delete</a>