<h1>VELCOME TO MAKE</h1>

<h1>VEE MAKE YOUR LIFE LESS CHITTY BY MAKING IT EASIER TO MAKE FRIENDSHIP COMPANIONS</h1>

<h1>VEE ARE ANARCHISTS HERE TO DISRUPT ZE STRUCTURE.</h1>

<h1>AGAINST THE LOGIC OF SUBMISSION!</h1>

<%= image_tag("download.jpeg", :alt => "Make Revolution, MAKE FRIENDSHIP") %>

<br>
<a href="makes/new">Create a New Make</a>

<h3>View Makes</h3>



<ul>
  <% @makes.each do |make| %>
    <li><a href="/makes/<%= make.id %>"><%= make.name %></a></li>
  <% end %>
</ul>