<%= render('form', :object => @make) %>

<a href="/makes">Back to Index</a> |
  <a href="/makes/<%= @make.slug %>/edit">Edit</a> |
  <a href="/makes/<%= @make.slug %>" data-method="delete" data-confirm="Are you sure?">Delete</a>