body{
	background-color: #99CCCC;
}

a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

a:visited{
	color: white;
	text-decoration: none;
}

.center-block {
  display: block;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 50px;
}