body{
	background-color: #99CCCC;
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-family: 'Cantata One', serif;
}

a{
	color: white;
	text-decoration: underline;
	font-size: 20px;
}

a:hover{
	color: white;
}

a:visited{
	color: #3f3f3f;
	text-decoration: none;
}

.center-block {
  display: block;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 50px;
}

.center{
	text-align: center;
}

.textdec{
	font-family: 'Playfair Display SC', serif;
}